/* John Vu */
/* 28 April 2023 */
/* Checkers CSS File */

* {
    box-sizing: border-box;

}

header {
    font-size: 4vmin;
    color: white;
    letter-spacing: 1vmin;
    text-align: center;
    
}

p {
    color: white;
    letter-spacing: 0.15vmin;
    margin-top: -0.05vmin;
    font-size: 1.25vmin;

}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://wallpapercave.com/wp/wp2572376.jpg");
    background-size: cover;
    color: white;
    font-family: "Quicksand", sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#board {
    display: grid;
    grid-template-columns: repeat(8, 7vmin);
    grid-template-rows: repeat(8, 7vmin);
    margin-top: 1vmin;
    font-size: 8vmin;
    text-align: center;
    justify-content: center;
        
}

.cell-gray {
    background-color: rgb(128, 128, 128, 0.7);

}
  
.cell-white {
    background-color: rgb(235, 228, 227, 0.7);

}

.red {
    height: 5.5vmin;
    width: 5.5vmin;
    margin: auto;
    margin-top: 0.7vmin;
    background-color: #ff6961;
    border: 1px solid red;
    border-radius: 50%;

}

.red:hover {
    cursor: pointer;
    border: 2px solid #bdbd55;
}


.king.red {
    background-color: #74512e;
    border: 1px solid brown;

}

.blue {
    height: 5.5vmin;
    width: 5.5vmin;
    margin: auto;
    margin-top: 0.7vmin;
    background-color: #0096FF;
    border: 1px solid blue;
    border-radius: 50%;

}

.blue:hover {
    cursor: pointer;
    border: 2px solid #bdbd55;

}

.king.blue {
    background-color: #CBC3E3;
    border: 1px solid purple;
    
}

.pieceSelected {
    background-color: #bdbd87;
    border: 2px solid yellow;

}

.highlighted {
    background-color: yellow;
    
}