/* John Vu */
/* 28 April 2023 */
/* Checkers CSS File */

* {
    box-sizing: border-box;

}

header {
    font-size: 4vmin;
    color: white;
    letter-spacing: 1vmin;
    text-align: center;
    
}

p {
    color: white;
    letter-spacing: 0.15vmin;
    margin-top: -0.05vmin;
    font-size: 1.25vmin;

}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://wallpapercave.com/wp/wp2572376.jpg");
    background-size: cover;
    color: white;
    font-family: "Quicksand", sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

td {
    background-color: rgb(128, 128, 128, 0.7);
    height: 55px;
    width: 55px;
    text-align: center;

}

.emptySpace {
    background-color: rgb(235, 228, 227, 0.7);

}

.red {
    height: 35px;
    width: 35px;
    margin: auto;
    padding: 10px;
    background-color: #ff6961;
    border: 1px solid red;
    border-radius: 50%;

}

.king.red {
    background-color: #C4A484;
    border: 1px solid brown;

}

.blue {
    height: 35px;
    width: 35px;
    margin: auto;
    padding: 10px;
    background-color: #0096FF;
    border: 1px solid blue;
    border-radius: 50%;

}

.king.blue {
    background-color: #CBC3E3;
    border: 1px solid purple;
    
}
